<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon</title>
</head>
<body>
    <!--<form action="" method="POST">
        {% csrf_token %}
        <label for="prodid">Enter Product Id</label>
        <input type="number" name="prodid"><br><br>
        <label for="prodname">Enter Product Name</label>
        <input type="text" name="prodname" required><br><br>
        <label for="prodprice">Enter Product Price</label>
        <input type="number" name="prodprice" required><br><br>
        <input type="submit" value="Save">
        <label for="prodimage">Product Image</label>
        <img src="" alt="">
    </form>-->
</body>
</html>