<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<style>
    body{background-color: black;}
    select{width:12ch;height:5ch;text-align:center;}
    input{border-radius:5px;background-color: black;border-color: white;}
    label{color: white;font-size: 20px;}
</style>
<body>
        <h2 style="color:white;font-size:5ch;font-family:Verdana, Geneva, Tahoma, sans-serif">Create your account</h2><br>
        <center>
            
            <label for="">Your Name</label><br>
            <input type="text" name="name" placeholder="Name" style="width:50ch;height:5ch;"><br><br><br>
            <label for="">Your Number</label><br>
            <input type="number" name="phone" placeholder="Phone" style="width:50ch;height:5ch;"><br><br>
            <h4 style="color:white;font-size:20px">Date of birth</h4>
            <p style="color:white">This will not be shown publicly.Conform your own age,even if this account is for a business,a pet,or something else.</p><br><br>
            <label for="">Month</label>
            <select>
                <option value="jan">January</option>
                <option value="feb">February</option>
                <option value="mar">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="aug">Auguest</option>
                <option value="sep">September</option>
                <option value="oct">October</option>
                <option value="nov">November</option>
                <option value="dec">December</option>
            </select>&nbsp;&nbsp;&nbsp;
            <label for="">Day</label>
            <select>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>&nbsp;&nbsp;&nbsp;

            <label for="">Year</label>
            <select>
                <option value="1990">1990</option>
                <option value="1991">1991</option>
                <option value="1992">1992</option>
                <option value="1993">1993</option>
                <option value="1994">1994</option>
                <option value="1995">1995</option>
                <option value="1996">1996</option>
                <option value="1997">1997</option>
                <option value="1998">1998</option>
                <option value="1999">1999</option>
                <option value="2000">2000</option>
                <option value="2001">2001</option>
                <option value="2002">2002</option>
                <option value="2003">2003</option>
                <option value="2004">2004</option>
                <option value="2005">2005</option>
                <option value="2006">2006</option>
                <option value="2007">2007</option>
                <option value="2008">2008</option>
                <option value="2009">2003</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
            </select>
            <br><br><br><br>
            <b><a href="page4" method='POST'style="background-color:skyblue;text-decoration:none;padding-left:100px;padding-right:100px;padding-top:10px;padding-bottom:10px;border-radius:10px;font-size:large">Next</a></b>
        </center>

</body>
</html>